# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.svn/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven specific #
.classpath
.project
.settings/
target/

obj/